@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    /* background: #333; */
    background-image: url('https://wallpapercave.com/wp/wc1689557.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

#root {
  background-color: rgba(225, 223, 221, 0.2);
}

.ms-Nav {
  font-family: 'Nunito', sans-serif;
  background-color: #ff9900;
  color: #fff;
  width: fit-content;
}

.ms-Button {
  font-weight: 400;
  font-size: large;
  color: darkblue;
}

.ms-Button--Action {
  color: rgb(73, 15, 15);
}

.ms-Grid-col {
  padding-left: 0;
  margin-left: 0;
}

.ms-Grid-row {
  padding-bottom: 0;
  margin-bottom: 0;
}

.Title {
  display: block;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 1rem auto;
  color: white;
  font-weight: 800;
  font-size: xx-large;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  margin: 10px 0 0 0;
  color: white;
  font-weight: 600;
  font-size: x-large;
}

.App {
  display: block;
  max-width: 1280px;
  margin: 1rem auto;
}

.App > h1 {
  text-align: center;
  margin: 1rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 2vh 0vh;
  background: #444;
}

.Table {
  justify-content: space-between;
  align-items: center;
  background: #444;
  margin-bottom: 1rem;
  margin-left: 0vh;
  border-bottom: 1px solid #333333;
  color: #fff;
}


.Form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #444;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #333333;
}

.Form > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form input {
    background: #f5f6f7;
    padding: 0.5rem 1rem;
    border: 1px solid #ff9900;
    border-radius: 10px;
    display: block;
    margin: 0.3rem 1rem 0 0;
}

.Form select {
  background: #f5f6f7;
  padding: 0.5rem 1rem;
  border: 1px solid #ff9900;
  border-radius: 10px;
  display: block;
  margin: 0.3rem 1rem 0 0;
}

.Form label {
  justify-content: center;
  align-items: center;
}

.Form button {
    background: #ff9900;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    margin-top: 1.5rem;
    cursor: pointer;
    border: none;
}

.Form #eventTime {
  min-width: 90px;
  max-width: 100px;
}

.Form #advTeam {
  min-width: 90px;
  max-width: 100px;
}

.Form #position {
  min-width: 90px;
  max-width: 100px;
}

.Form #significance {
  min-width: 90px;
  max-width: 100px;
}

.Form #credit {
  min-width: 90px;
  max-width: 100px;
}

.Form #blame {
  min-width: 90px;
  max-width: 100px;
}

.button {
  background: #ff9900;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  margin-top: 1.5rem;
  cursor: pointer;
  border: none;
}

.line-through {
    text-decoration: line-through;
    color: #777 !important;
}

.hide-button {
    display: none;
}

.ms-Viewport {
  margin: 0 1.5%;
}

.ms-FocusZone {
  padding: 0;
}

